<a routerLink="/BasicCharts" routerLinkActive="active"> Basic Charts </a>
<a routerLink="/LineCharts" routerLinkActive="active"> Line Charts</a>
<a routerLink="/AreaCharts" routerLinkActive="active"> Area Charts</a>
<a routerLink="/BarCharts" routerLinkActive="active"> Bar Charts </a>
<a routerLink="/ColoumCharts" routerLinkActive="active"> Coloum Charts</a>
<a routerLink="/PieCharts" routerLinkActive="active"> Pie Charts</a>
<a routerLink="/ScatterCharts" routerLinkActive="active"> Scatter Charts</a>
<a routerLink="/DynamicCharts" routerLinkActive="active"> Dynamic Charts</a>
<a routerLink="/ThreeDCharts" routerLinkActive="active"> 3D Charts</a>
<a routerLink="/MapCharts" routerLinkActive="active"> Map Charts</a>

<router-outlet></router-outlet>